@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@200;300;400&display=swap');
body {
  background-color: #fffdfb;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
}

/* header */
h1 {
  font-weight: bolder;
}
.header {
  padding: 3%;
  color: green;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
}

ul > li {
  display: inline;
  list-style: none;
  margin: 3%;
}

ul > li > a {
  color: green;
}

nav {
  text-align: center;
  width: 70%;
  padding-top: 1% ;
}
/* end */

/* form */
.signup {
  background-image: url('https://miro.medium.com/max/3760/1*OEnS6-DEn56szCwdOs2mrA.jpeg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* */
  color: #fffdfb;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 8%;
  margin-bottom: 2%;
}

#signup {
  width: 50%;
}

.title {
  width: fit-content; 
  display: flex;
  align-items: flex-end;
  font-weight: bolder;
}

.title > h2 {
  font-size: 80px;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  padding: 2% 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bolder;
}


.card {
  width: 30%;
}
.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* footer */
.footer {
  text-align: center;
  color: rgb(106, 139, 106);
  margin-top: 3%;
  font-weight: lighter;
  font-size: 17px;
  border-top: 2px solid green;
  padding: 1%;
}